.box-shadow {
    box-shadow: 0px 5px 12px rgba(105, 92, 92, 0.2);
}

.MuiMenu-list {
    flex-direction: column;
}

.caja {
    display: block;
}

::-webkit-scrollbar {
    width: 1px;
    height: 10px;
}

 ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    background: #fff;
}

 ::-webkit-scrollbar-thumb {
    background: #2dd;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #2df;
}